spring:
  profiles:
    active: local


---

spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      path: /h2-console
      enabled: true

  jpa:
    generate-ddl: true
    show-sql: true
    open-in-view: false

    hibernate:
      ddl-auto: create-drop

    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true